@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

:root{
  --colorPrimary: #03045E;
  --colorPrimaryVariant: #00B4D8;/* Cards */
  --colorSecondary: #0077B6; /* Buttons */
  --colorSecondaryVariant: #48CAE4; /* Nav Bar, Modal Header*/
  --colorBackground: #caf0f8; /*Page Background*/
  --colorSurface: #CAF0F8;
  --colorError: #FCA311;
  --colorOnImages: #14213D;
  --colorOnPrimary: #E5E5E5;
  --colorOnSecondary: #FFFFFF;
  --colorOnPrimaryVariant: #FFFFFF;
  --colorOnSecondaryVariant: #14213D;
  --colorOnBackground: #14213D;
  --colorOnSurface: #14213D;
  --colorOnError: #FFFFFF;

  --fontFamily : "Open Sans", sans-serif;
  --navHeight: 4rem;
}

.App {
  text-align: center;
}

#content {
  width: 100%;
  height: 100%;
}

html {
  font-family: var(--fontFamily);/*! see if this is actually working*/
}

body {
  margin: 0;
  background: var(--colorBackground);
}

/*App wide classes*/
.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Transitions*/
.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}


